body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  color: black;
  padding: 40px 20px;
  text-align: center;
}
.header h1 {
  color: black;
}
.header a {
  color: blue;
}

header h1 {
  margin: 0;
  color: #d1be9c;
  font-size: 2.5em;
}
header a:hover {
  color: blue;
}
.footer {
  text-align: center;
  padding: 10px;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: #fdeed9;
  border-bottom: 2px solid #d1be9c;
  padding-bottom: 10px;
  font-size: 1.8em;
}

section {
  margin-bottom: 40px;
  background-color: #43291f;
  padding: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.education-item,
.experience-item,
.project-item {
  background-color: #fdeed9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.education-item h3,
.experience-item h3,
.project-item h3 {
  color: #323031;
  margin-top: 0;
  font-size: 1.4em;
}
.education-item p,
.experience-item p,
.project-item p {
  color: black;
}
.career-profile p {
  color: #aa998f;
}
.career-profile h2 {
  color: #fdeed9;
}
.experience-item li,
.skills li strong,
.project-item li {
  color: black;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills li {
  color: black;
  flex-basis: 48%;
  background-color: #fdeed9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.honors p,
.interests p {
  color: #aa998f;
}

@media (max-width: 768px) {
  .skills li {
    flex-basis: 100%;
  }

  header {
    padding: 20px;
  }

  header h1 {
    font-size: 2em;
  }
}
